<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Build" version="15.1.548" targetFramework="net462" />
  <package id="Microsoft.Build.Framework" version="15.1.548" targetFramework="net462" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net452" />
  <package id="SandS.Algorithm.Extensions.EnumerableExtensions" version="2.0.3.01" targetFramework="net452" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net462" />
</packages>